@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Vazirmatn', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 1);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  @apply text-primary
}
a:hover {
    @apply underline
}

body {
  margin: 0;
  min-height: 100vh;
  width: 100%;
}

h1, .h1 {
  @apply text-2xl lg:text-[25px] font-bold;
}

h2, .h2 {
  @apply text-xl lg:text-[23px] font-medium
}

h3, .h3 {
  @apply text-lg font-medium;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
}
